/* Általános alapértelmezett stílusok */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
  font-size: 11px;
  }

  body, .cart-side, .side-menu {
  background-color: #ffe0bd;
  }
  footer, header, #holder, button {
    background-color:#342c25 ;
  } 

.side-menu, .cart-side, .cart-side div div, .img-container {
    border: 3px solid #342c25;
  } 
#holder p, header h1, header p, i  {
  color: #ffe0bd; 
}
  
  /* Header stílusok */
  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 99;
  }
  
  header img {
  height: 30px;
  }
  
  header h1 {
  font-size: 1.8rem;
  margin-left: 1rem;
  }
  
  /* Navigáció stílusok */
  nav {
  display: flex;
  }
  
  header p {
  text-decoration: none;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
 
  
  /* Ikonszín */
  i {
  font-size: 2.8rem;
  }
  
  header .fi-align-justify {
  font-size: 3rem;
  }
  
  /* Menü stílusok */
  .side-menu {
  position: fixed;
  top: 70px;
  left: -300px;
  height: 100%;
  width: 250px;
  overflow-y: auto;
  transition: left .5s;
  padding: 1rem;
  z-index: 10;
  }
  
  .side-menu.active {
  left: 0;
  }
  
  .side-menu h2 {
  margin-bottom: 1rem;
  }
  
  /* Kosár stílusok */
  .cart-side {
  position: fixed;
  top: 70px;
  right: -100vw;
  height: 100vh;
  width: 65vw;
  overflow-y: auto;
  transition: right .5s;
  padding: 1rem;
  z-index: 10;
  }
  
  .cart-side.active {
  right: 0;
  }
  
  .cart-side h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  }
  
  .cart-side div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  margin-top: 1rem;
  }

  .cart-side div div {
    border-radius: 5px;
  }
  
  .cart-side img {
  width: 50%;
  height: auto;
  border-radius: .2rem;
  }
  
  .cart-side .remove-icon {
  width: 3rem;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: white;
  border-radius: 50%;
  }
  
  .cart-side p {
  margin: 0;
  font-size: 1.2rem;
  }
  
  .cart-side input[type="number"] {
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
  text-align: center;
  }

  
  
  h2 {
  font-size: 1.6rem;
  margin: 1.5rem;
  color: #342c25;
  }
  
  img {
  width: 100%;
  margin: 0;
  display: block;
  }
  
  /* Terméklistastílusok */
.product-container {
  display: flex;
  overflow-x: auto;
  max-width: 100%;
  }
  
  .product-container img {
  width: 45vw;
  height: 45vw;
  object-fit: cover;
  border-radius: .5rem;
  }
  
  .img-container {
  margin: 2.6rem 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .img-container.zoomed {
  transform: scale(1.1);
  transition: transform 0.5s;
  }
  
  .img-container.zoomed ~ .product-container {
  height: calc(100% + 20%);
  transition: width 0.5s;
  }
  
  .img-container p {
  margin: .5rem;
  font-size: 1.5rem;
  color: #342c25;
  }
  
  button {
  padding: 1rem;
  height: 3rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  color: #ffe0bd;
  margin: .5rem;
  border: none;
  text-align: center;
  justify-content: center;
  }
  
 
  
  /* Görgetősáv stílusok */
  .product-container::-webkit-scrollbar {
  height: 6px;
  }
  
  .product-container::-webkit-scrollbar-thumb {
  background-color: #342c25;
  border-radius: 3px;
  }
  
  /* Lábléc stílusok */
  footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-top: 1px solid #ccc;
  margin-top: 1rem;
  }
  
  #about-me {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  }
  
  #about-me div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%;
  }
  
  #about-me img {
  height: 80px;
  margin-bottom: 1rem;
  }
  
  #about-me p {
  font-size: 1.2rem;
  line-height: 1.4;
  }
  
  #about-me p:first-child {
  font-weight: bold;
  margin-bottom: 0.5rem;
  }
  
  #contact {
  max-width: 300px;
  }
  
  #social-media {
  text-align: center;
  }
  
  #social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  }
  
  #social-icons img {
  width: 30px;
  height: 30px;
  }
  
  /* Szöveg animáció */
  #holder {
  margin: 0;
  height: 4rem;
  position: relative;
  overflow: hidden;
  }
  
  #holder p {
  color: #ffe0bd;
  position: absolute;
  top: 1rem;
  left: 0;
  opacity: 0;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  white-space: nowrap;
  }
  
  #holder p:first-child {
  animation-name: slide1;
  }
  
  #holder p:last-child {
  animation-name: slide2;
  }
  
  @keyframes slide1 {
  0%, 10% {
  left: -100%;
  opacity: 0;}
  20%, 40% {
  left: 30%;
  opacity: 1;
  }
  50%, 100% {
  left: 100%;
  opacity: 0;
  }
  }
  
  @keyframes slide2 {
  0%, 50% {
  left: -100%;
  opacity: 0;
  }
  60%, 80% {
  left: 30%;
  opacity: 1;
  }
  90%, 100% {
  left: 100%;
  opacity: 0;
  }
  }