/* Általános alapértelmezett stílusok */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
  font-size: 10px;
}

body {
  background-color: #ffe0bd;
}

.cart-side,
.side-menu,
footer,
header,
#holder,
button {
  background-color:#342c25;
  border-radius: 5px;
}



.side-menu,
.cart-side {
  position: fixed;
  top: 14vh;
  max-height: 85vh;
  overflow-y: auto;
  padding: 1rem;
  z-index: 10;
}

.side-menu {
  width: 150px;
  left: -100vw;
  transition: left .9s;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.side-menu.active {
  left: 0;
}

.cart-side {
  width: 75vw;
  right: -100vw;
  transition: right .9s;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.cart-side.active {
  right: 0;
}

.cart-side h2, footer h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #ffe0bd;
}

.cart-side>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  margin-top: 1rem;
}
.cart-side button {
  background-color: #ffe0bd;
  color: #342c25;
}

.cartItem {
  position: relative;
  border-radius: 5px;
  border: 2px solid #ffe0bd;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem 0;
  padding: .5rem;
}

.cartItem #comment {
  display: grid;
  grid-row: 2/3;
  grid-column: 1/3;
}

.cart-side p,
#holder p,
header h1,
header p,
i,
button {
  color: #ffe0bd; 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 99;
  height: 15vh;
}

header img {
  height: 80px;
}

header h1 {
  font-size: 1.8rem;
  margin-left: 1rem;
}

nav,
header p {
  text-decoration: none;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

i,
header .fi-align-justify {
  font-size: 2.8rem;
}

.side-menu h1,
.side-menu a {
  display: block;
  color: #ffe0bd;
  text-decoration: none;
}

.side-menu h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.side-menu a {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}


.side-menu hr {
  margin-bottom: 0.5rem;
  border: none;
}




  
  .cart-side img {
  width: 100%;
  height: auto;
  border-radius: .2rem;
  }
  
  .cart-side .remove-icon {
  width: 3rem;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: white;
  border-radius: 50%;
  }
  
  .cart-side p {
  margin: 0;
  font-size: 1.8rem;
  }
  #cart-count {
    background-color: red; 
    color: white; 
    border-radius: 50%; 
    padding: 2px 6px; 
    font-size: 0.8em; 
    margin-left: 5px;
  }
  
  .cart-side input[type="number"] {
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
  }
  textarea {
    font-size: 1.5rem;
  }
  
  
  
  .product-container {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
  }
  
  .product-container img {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    border-radius: .5rem;
  }
  
  .img-container {
    margin: 2.6rem 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    aspect-ratio: 1 / 1; /* hozzáadva: aspect-ratio tulajdonság */
  }
  
  
  .img-container.zoomed {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
  
  .img-container.zoomed ~ .product-container {
    height: calc(100% + 20%);
    transition: width 0.5s;
  }
  
  .img-container p {
    margin: .5rem;
    font-size: 1.5rem;
    color: #342c25;
  }
  
  button {
    padding: 1rem;
    height: 3rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    margin: .5rem;
    border: none;
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
  }
  
  button:after {
    content: "";
    background: #ffe0bd;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }
  
  button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }
  
  h2 {
    font-size: 1.6rem;
    margin: 1.5rem;
    color: #342c25;
  }
  
  img {
    width: 100%;
    margin: 0;
    display: block;
  }
  
  /* Lábléc stílusok */
footer {
 
  padding: 3rem 2rem;
  color: #ffe0bd;
  margin-top: 3rem;
}


#about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
}

#about-me div {
  text-align: center;
  width: 50%;
  margin-bottom: 1.5rem;
}

#about-me img {
  height: 80px;
  margin-bottom: 1rem;
}

#about-me p {
  font-size: 1.4rem;
  line-height: 1.6;
}

#about-me p:first-child {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#contact {
  max-width: 400px;
  margin-left: 2rem;
}

#contact h3 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

#contact p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

  

 
  
  #holder {
    margin: 0;
    height: 4rem;
    position: relative;
    overflow: hidden;
  }
  
  #holder p {
    color: #ffe0bd;
    position: absolute;
    top: 1rem;
    left: 0;
    opacity: 0;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    white-space: nowrap;
  }
  
  #holder p:first-child {
    animation-name: slide1;
  }
  
  #holder p:last-child {
    animation-name: slide2;
  }
  
  @keyframes slide1 {
    0%, 10% {
      left: -100%;
      opacity: 0;
    }
    20%, 40% {
      left: 30%;
      opacity: 1;
    }
    50%, 100% {
      left: 100%;
      opacity: 0;
    }
  }
  
  @keyframes slide2 {
    0%, 50% {
      left: -100%;
      opacity: 0;
    }
    60%, 80% {
      left: 30%;
      opacity: 1;
    }
    90%, 100% {
      left: 100%;
      opacity: 0;
    }
  }
  
  @media (min-width: 1200px) {
    * {
      font-size: 13px;
    }
    html {
      background-color: #ccc;
    }
    body {
      padding-left: calc((100vw - 1200px) / 2);
      padding-right: calc((100vw - 1200px) / 2);
    }
  
    .side-menu.active {
      left: calc((100vw - 1200px) / 2);
    }
  
    .cart-side.active {
      right: calc((100vw - 1200px) / 2);
    }
  
  

  .product-container img {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  .img-container {
    margin: 2.6rem 1.5rem;

  }
  .cart-side {
    width: 60vw;
  }

  .cart-side>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .cartItem {
    grid-template-columns: 15vw 1fr;
  }
  .cart-side img {
    width: 15vw;
    height: 15vw;
  }
}